:root{
    --color-primary: #901c1c;
    --font-color-primary: #BF5138;
    --color-secondary: #D3573C;
    --color-secondary-bg: #525252;
    --grey-font: #FAFAFA;
    --font-color-secondary: #901c1c;
}